{% extends 'base_home.html' %}

{% block title %}ACOMPANHAMENTO DE DEMANDAS{% endblock %}
{% block content %}
<h1>Rastrear Protocolo</h1>


   <form action="" method="GET">
    <input type="text" name="protocolo" placeholder="Digite o protocolo">
    <button type="submit">Buscar</button>
    </form>

    {% if demanda %}
        <h2>Detalhes da Demanda</h2>
        <p><strong>Protocolo:</strong> {{ demanda.protocolo }}</p>
        <p><strong>Descrição:</strong> {{ demanda.descricao }}</p>
        <p><strong>Status:</strong> {{ demanda.status }}</p>
        <!-- Adicione mais campos conforme necessário -->
    {% else  %}
        <p>Nenhuma demanda encontrada para o protocolo: {{ protocolo }}</p>
    {% endif %}


{% endblock %}